<head>
   <!--  using bootstrap for a simple Ui-->
   <title>Doobie's Resume Page</title>
   <link rel="icon" href="../static/favicon.ico">
   <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
   <!-- Custom fonts for this template -->
   <link href="{{ url_for('static', filename='css/all.min.css')}}" rel="stylesheet" type="text/css">
   <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
      type='text/css'>
   <link
      href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
      rel='stylesheet' type='text/css'>
   <!-- Custom styles for this template -->
   <link href="{{ url_for('static', filename='css/clean-blog.min.css')}}" rel="stylesheet">
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   </style>
   <style id="__jsx-1839092677">
      ul.jsx-1839092677 {
         list-style-type: none;
         padding: 0;
         margin: 0;
         display: -webkit-box;
         display: -webkit-flex;
         display: -ms-flexbox;
         display: flex;
         -webkit-flex-flow: row wrap;
         -ms-flex-flow: row wrap;
         flex-flow: row wrap;
      }

      ul.jsx-1839092677 li.jsx-1839092677 {
         box-sizing: border-box;
         padding: 0.25rem 0.5rem;
         margin: 0.25rem;
         background-color: #EDEDED;
      }
   </style>
   <style id="__jsx-2968007351">
      main.jsx-2968007351 {
         display: grid;
         grid-template-columns: 1fr min(65ch, 90%) 1fr;
         margin-bottom: 40vh;
      }

      main.jsx-2968007351>*.jsx-2968007351 {
         grid-column: 2;
      }
   </style>
</head>
{% import "bootstrap/wtf.html" as wtf %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('static/bg1.jpg')">
   <div class="overlay"></div>
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
               <h1>{{title}}</h1>
               <span class="meta">{{subtitle}}</span>
            </div>
         </div>
      </div>
   </div>
</header>
<!-- Content Experience -->
<article>
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-md-10 mx-auto">
            <h2 class="post-title">
               About Me
            </h2>
            <hr>
            <span><b>Name:</b> Douglas Leslie Ndubuisi<br><b>Sex:</b> Male<br><br><b><u>Biography</u></b><br><br>
               I only recently started coding at the end of 2020 during the Covid Lockdown Period. It started with a
               friend suggesting that developing machine learning skills would be a good fit since I liked mathematics.
               I decided to pick a course on Udemy to see what that was about and the next thing I knew, I fell down the
               rabbit hole of programming and all things python.
               I debate competitively in the British Parliamentary inter-varsity format and love reading thriller books.
               If you're looking for a fiction thriller to read, I would advise starting from "The Murder of Roger
               Ackroyd" by Agatha Christie Murder or "The DaVinci Code" by Dan Brown. I am currently working on starting
               a youtube channel where I simplify coding concepts
               for programming beginners in a bid to inspire curiosity and interest. As of the time of writing this
               (8/17/2021) .. I am about to seat for my finals.
               <br><br>Follow me on <a href="https://www.instagram.com/___doobie/">Instagram</a>. Check out my <a
                  href="https://github.com/doobie-droid">GitHub</a>. Find me on <a
                  href="https://www.linkedin.com/in/leslie-douglas-074a6112a/">LinkedIn</a>.

               <br><br>This responsive site uses basic HTML/CSS for the front end and Python for the backend and is
               hosted on Heroku.</span><br><br>
            <!--        Experiences-->
            <h2 class="post-title">
               Experience
            </h2>
            <hr>
            <h4 class="post-title">
               Enactus Covenant University
            </h4>
            <h6 class="post-subtitle">
               Assistant Team Head (Sponsorships and Development)
            </h6>
            <h6>May 2019 - June 2021</h6>
            <ul>
               <li>Built and maintained new and existing partnerships with potential sponsors</li>
               <li>Worked with a team, to raise funds needed for sponsorship</li>
               <li>Worked with a team to create a minimum viable product during the infancy of our pet-city project</li>
            </ul>
            <h4 class="post-title">
               Nigerian Liquefied Natural Gas (NLNG)
            </h4>
            <h6 class="post-subtitle">
               Production Intern
            </h6>
            <h6>March 2020 - Sept 2020</h6>
            <ul>
               <li>Removal, installation, isolation, de-isolation, re-certification and recalibration of valves</li>
               <li>Hydrojetting, spading and de-spading of pipes</li>
               <li>Education on the NLNG production process and an introduction to software controlling plant process
                  flow</li>
               <li>Overview of the NLNG skill blocks and areas and interpretation of PEFS(Process Engineering
                  Flowscheme) and PFS</li>
            </ul>
            <h4 class="post-title">
               Akiddie
            </h4>
            <h6 class="post-subtitle">
               Freelance Recruiter
            </h6>
            <h6>May 2019 - June 2020</h6>
            <ul>
               <li>Designed and Curated content on social media for talent recruitment for content creation</li>
               <li>Finding, screening and attracting of applicants for open positions</li>
            </ul>
            <br>
            <!--             Education-->
            <h2 class="post-title">
               Education
            </h2>
            <hr>
            <h4 class="post-title">
               Covenant University
            </h4>
            <h6 class="post-subtitle">
               Bachelor of Engineering - BE, Mechanical Engineering
            </h6>
            <h6>August 2016 - 2021 (First Class) </h6>
            <br>
            <!--             Education-->
            <h2 class="post-title">
               Portfolio Projects
            </h2>
            <hr>
            <h4 class="post-title">
               <a href="http://douglas-blog.herokuapp.com/">1. BLOG</a>
            </h4>
            <h6 class="post-subtitle">
               Python Flask with SQL database
            </h6>
            <h6>Blog that allows users to sign up, post comments and make blog posts about things they are interested
               in. </h6>
            <br>
            <h4 class="post-title">
               <a href="https://ashmerlyn.herokuapp.com/">2. SCHOOL MANAGEMENT SYSTEM</a>
            </h4>
            <h6 class="post-subtitle">
               MONGO DB, EXPRESS AND NODE JS
            </h6>
            <h6>A School management system that allows for tracking of results and payments</h6>
            <br>
            <h4 class="post-title">
               <a href="https://checkoutmovie.herokuapp.com/">2. MOVIE CHECKER</a>
            </h4>
            <h6 class="post-subtitle">
               PYTHON FLASK
            </h6>
            <h6>A request page that gives information on queried movies, with the help of APIs (Genderise, random quotes
               and movie api).</h6>
            <br>
            <h4 class="post-title">
               <a href="http://signupdoobie.herokuapp.com/">4. SIGN UP PAGE</a>
            </h4>
            <h6 class="post-subtitle">
               NODE JS
            </h6>
            <h6>A simple signup page that allows people to be put on the waiting list for an upcoming product </h6>
            <br>
            <!--        Technical Skills-->
            <h2 class="post-title">
               Technical Skills
            </h2>
            <hr>
            <br>
            <ul class="jsx-1839092677">
               <li class="jsx-1839092677">Pythons</li>
               <li class="jsx-1839092677">JavaScript</li>
               <li class="jsx-1839092677">NODE JS</li>
               <li class="jsx-1839092677">REACT JS</li>
               <li class="jsx-1839092677">FLASK</li>
               <li class="jsx-1839092677">HTML</li>
               <li class="jsx-1839092677">CSS</li>
               <li class="jsx-1839092677">C++</li>
               <li class="jsx-1839092677">Public Speaking</li>
               <li class="jsx-1839092677">MS. OFFICE SUITE</li>
               <li class="jsx-1839092677">SolidWorks Professional Certified</li>
            </ul>
            <br>
            <div>
               <h2 class="post-title">
                  Contact Me
               </h2>
               <hr>
               <form method="POST" action="{{url_for('home')}}">
                  <div class="form-group">
                     {{ wtf.quick_form(form, button_map={"submit": "dark"},novalidate=True) }}
                     <br><br>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</article>
<hr>
<div>
   <div style="text-align:center">Copyright @Douglas Leslie</div>
   <br>
</div>